.filterButton{
    background-color: #d8b07e;
    border: 1px solid #fff;
    margin: 5px;
}

.filterButton:hover{
    background-color: #54595F;
    border: 1px solid #d8b07e;
    padding: 10px 30px;
    color: #d8b07e;
}